<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--<property name="connection.url">jdbc:mysql://localhost:3306/phoenixnest</property>-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->

        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.timeout">3000</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.acquire_increment">2</property>
        <property name="hibernate.c3p0.validate">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!--<property name="current_session_context_class">thread</property>-->

        <!--根据需要自动创建表-->
        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>

        <property name="hibernate.format_sql">false</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/slsxpt</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--<property name="connection.url">jdbc:mysql://localhost:3306/slsxpt?zeroDateTimeBehavior=convertToNull</property>-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <mapping class="org.lyh.app.entitys.CategoryEntity"/>
        <mapping class="org.lyh.app.entitys.UserEntity"/>
        <mapping class="org.lyh.app.entitys.ViewEntity"/>
        <mapping class="org.lyh.app.entitys.TestEntity"/>
        <mapping class="org.lyh.app.entitys.PraiseEntity"/>
        <mapping class="org.lyh.app.entitys.TagEntity"/>
        <mapping class="org.lyh.app.entitys.CommentEntity"/>
        <mapping class="org.lyh.app.entitys.ConfigEntity"/>
        <mapping class="org.lyh.app.entitys.CollectEntity"/>
        <mapping class="org.lyh.app.entitys.CollegeEntity"/>
        <mapping class="org.lyh.app.entitys.TagSelectEntity"/>
        <mapping class="org.lyh.app.entitys.ArticleEntity"/>
        <mapping class="org.lyh.app.entitys.AudioEntity"/>
        <mapping class="org.lyh.app.entitys.ExamEntity"/>
        <mapping class="org.lyh.app.entitys.VideoEntity"/>
        <mapping class="org.lyh.app.entitys.VideoQstEntity"/>
        <mapping class="org.lyh.app.entitys.QstTplItemEntity"/>
        <mapping class="org.lyh.app.entitys.QstTplEntity"/>
        <mapping class="org.lyh.app.entitys.AudioQstEntity"/>
        <mapping class="org.lyh.app.entitys.ExamQstEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>