table {
	border:#0000a0 1px double;	
}

table td{
	border:#00ff00 1px dotted;
	padding:10px;
}

table th{
	border:#220000 2px solid;
	padding:10px;
	background-color:#c0c0c0;
}

table a:link,a:visited{
	color:#8000ff;
	text-decoration:none;
}

table a:hover{
	color:#ff0000;
}
.one{
	background-color:#808040;
}

.two{
	background-color:#408080;
}

.over{
	background-color:#4dff4d;
}
